.container {
  margin-top: 40px;
}

.row {
  margin-bottom: 60px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.form-label  {
  font-weight: bold;
  margin-top: 20px;
}


.btn-primary {
  background-color: rgb(29, 249, 9);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-align: left;
}

.row.settings-row {
  margin-top: 30px;
}

h1.settings-title {
  margin-bottom: 20px;
}

form.settings-form {
  width: 300px;
  margin: 0 auto;
}

label.settings-label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input.settings-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.settings-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.settings-button:hover {
  background-color: #45a049;
}