.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.title-contact {
  text-align: right;
  margin-bottom: 20px;
}

.form-divider {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}


.form-label {
  font-weight: bold;
  margin-right: 500px;
}


.form-control {
  margin-bottom: 20px;
}


.btn-primary {
  width: 100%;
}
